/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

:root {

    /*========== Colors ==========*/

    --body-color: #F8F9FA;
    --light-color: #F8F9FA;
    --dark-color: #252525;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;


    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.4rem;
    --h3-font-size: 1.3rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

/* Font Responsive */

@media screen and (min-width: 605px) {
    :root {
        --big-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.9rem;
        --h3-font-size: 1.7rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}

@media screen and (min-width: 710px) {
    :root {
        --big-font-size: 5rem;
        --h1-font-size: 2.7rem;
        --h2-font-size: 2.2rem;
        --h3-font-size: 2rem;
        --normal-font-size: 1.5rem;
        --small-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}

@media screen and (min-width: 868px) {
    :root {
        --big-font-size: 6rem;
        --h1-font-size: 3.5rem;
        --h2-font-size: 2.9rem;
        --h3-font-size: 2.5rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1.0rem;
        --smaller-font-size: .8rem;
    }
}

@media screen and (min-width: 1668px) {
    :root {
        --big-font-size: 7rem;
        --h1-font-size: 4rem;
        --h2-font-size: 3rem;
        --h3-font-size: 2.5rem;
        --normal-font-size: 1.5rem;
        --small-font-size: 1.25rem;
        --smaller-font-size: 1rem;
    }
}


/*=============== REUSABLE CSS CLASSES ===============*/

/* .container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
} */

.grid {
    display: grid;
}

.main {
    overflow: hidden;
    /*For animation*/
    /* overflow-y: scroll; */
    /* scroll-snap-type: y proximity; */
}

section {
    scroll-snap-align: start;
}

.ml-1 {
    margin-left: .5rem;
}

.p-left {
    padding-left: .3em;
}

.icon {
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    transition: .3s;
    cursor: pointer;
}

.animation__icon:hover {
    transform: translateY(-5px);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.light__color {
    color: var(--light-color);
}

.noise__wrapper {
    flex: none;
    inset: 0;
    opacity: .05;
    position: absolute;
}

.noise {
    width: 100%;
    height: 100%;
    background-size: 128px;
    background-repeat: repeat;
    background-image: url(../img/noise.png);
    opacity: 0.5;
    border-radius: 0;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: 0;
    color: var(--dark-color);
    background-color: var(--body-color);
}


button {
    cursor: pointer;
    border: none;
    outline: none;
    /* background: var(--dark-color); */
    background-color: #252525;
    color: var(--light-color);
    border: 2px solid var(--dark-color);
    padding: 8px 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    font-size: var(--small-font-size);
}

button i {
    margin-right: 15px;
}

button:hover {
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    background: var(--light-color);
}

button:active {
    transform: scale(0.95);
}

h1,
h2,
h3 {
    color: var(--dark-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    background: #fff;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: .4rem;
}


/*=============== HOME ===============*/

.home {
    height: 105vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/img.jpg);
    background-position: 100% 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.home__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
}

.home__data {
    margin-top: -40%;
}

.home__big-fs {
    line-height: 1.25em;
    font-size: var(--big-font-size);
    text-transform: uppercase;
}

.home__title-color {
    color: var(--light-color);
}

.title-icon {
    font-size: var(--h2-font-size);
    color: var(--light-color);
}

.home_title__icons {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.home__description {
    position: relative;
    text-align: right;
    margin-top: 1.5rem;
    color: var(--light-color);
}

/*=============== projects ===============*/

.projects {
    height: auto;
    background: var(--light-color);
    text-align: center;
    border-radius: 20px;
    margin-top: -5vh;
}

.projects__title {
    font-size: var(--h2-font-size);
}

.projects__data {
    padding: 4rem 1.5rem 5rem 1.5rem;
}

.projects_card-wrapper {
    margin-top: 4rem;
    gap: 5rem;
}

.projects_card {
    margin: auto;
    width: 100%;
    background-image: linear-gradient(161.9093601038287deg, #252525 0%, rgba(26, 26, 26, 1) 100%);
    border: .1rem solid rgba(255, 255, 255, .5);
    border-bottom: none;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.project_img_wrapper {
    position: relative;
    overflow: hidden;
    height: auto;
    z-index: 10;
}

.project__view {
    width: 100%;
    height: auto;
    transition: .5s;
    z-index: 1;
}

.project__img {
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: -50% 50%;
    height: auto;
    width: 75%;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.project_img_wrapper:hover {
    .project__view {
        filter: blur(20px);
        transform: scale(1.2);
    }

    .project__img {
        opacity: 1;
    }
}


.card__info {
    position: relative;
    text-align: left;
    padding: 1rem;
}

.projects__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 10;
}

.projects__button {
    font-size: var(--small-font-size);
    border-radius: 0.2rem;
    margin: .7rem;
}

.projects__tech_stack {
    display: flex;
    gap: 15px;
    width: 100%;
}

.tech__stack_item {
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 5px;
    border: .1rem solid rgba(255, 255, 255, .3);
    font-size: var(--smaller-font-size);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
}

.card__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.card__title {
    font-size: var(--normal-font-size);
}

.card__desc {
    font-size: var(--smaller-font-size);
    opacity: .7;
}

.icon__wrapper {
    padding: .5rem;
    background-color: var(--light-color);
    border-radius: 9999px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

/*=============== ABOUT me ===============*/

.about {
    position: relative;
    background-image: linear-gradient(161.9093601038287deg, #252525 0%, #1a1a1a 90%);
    transition: .3s;
    padding: 1rem;
    width: 91%;
    border-radius: 25px;
    margin: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 0.1rem solid rgba(255, 255, 255, .5);
    border-bottom: none;
}

.about__data {
    overflow: hidden;
    padding: 2rem 1rem 1rem 1rem;
    /* background-image: radial-gradient(rgba(255, 255, 255, 0.17) 1px, transparent 1px); */
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    border-radius: 4rem;
    color: var(--light-color);
}

.about__title {
    color: var(--light-color);
    margin-bottom: 2rem;
    text-align: center;
}

.about__body {
    display: flex;
    justify-content: center;
}

.about__text-wrapper {
    font-size: var(--small-font-size);
    max-width: 1100px;
    width: 100%;
}

.about__description {
    text-align: center;
    font-size: var(--normal-font-size);
}

.about_expand-wrapper {
    text-align: center;
    overflow: hidden;
    height: 0;
    transition: .3s;
}

.accordion-open .about_expand-wrapper {
    margin-top: 1.5rem;
}

.accordion-open .expand_more-icon {
    transform: rotate(180deg);
}

.expand_more-icon-wrapper {
    position: relative;
    text-align: center;
    margin-top: 2rem;
}

.expand_more-icon {
    color: var(--light-color);
    font-size: var(--h3-font-size);
}

.about__tilt-top {
    fill: var(--dark-color);
    width: 155%;
    height: 4rem;
    transform: rotate(180deg) scaleX(-1);
}

.about__tilt-bottom {
    fill: var(--dark-color);
    width: 155%;
    height: 4rem;
    transform: scaleX(-1)
}

/*=============== CONTACT ===============*/

.contact {
    background-color: var(--light-color);
    transition: .3s;
    padding-top: 3rem;
}

.contact__data {
    overflow: hidden;
    padding: 2rem 2rem 3rem 2rem;
    color: var(--dark-color);
}

.contact__title {
    color: var(--dark-color);
    margin-bottom: 2rem;
    text-align: center;
}

.contact__form {
    display: flex;
    justify-content: center;
}

.contact__group {
    position: relative;
    display: grid;
    row-gap: 1.75rem;
    max-width: 990px;
    width: 100%;
}

.contact__name-email {
    gap: 1.75rem
}

.contact__box {
    position: relative;
    width: 100%;
    height: 58px;
}

.contact__input {
    outline: none;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    border: 3px solid #5B5B5B;
    border-radius: 0.2rem;
    color: var(--dark-color);
    padding: .5rem 1rem;
    font-weight: var(--font-medium);
    transition: border .2s, background-color .2s;
    font-size: var(--small-font-size);
}

.contact__input::placeholder {
    color: #5B5B5B;
    transition: opacity .2s;
}

.contact__input:focus {
    border: 3px solid var(--dark-color);
}

.contact__input:-webkit-autofill {
    transition: background-color 6000s, color 6000s;
}

.contact__label {
    position: absolute;
    top: 8px;
    left: 10px;
    color: var(--dark-color);
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
    background-color: var(--light-color);
    padding: 8px;
    padding-bottom: 5px;
    pointer-events: none;
    transition: top .2s, opacity .2s, background-color .2s;
    opacity: 0;
}

.contact__area {
    position: relative;
    width: 100%;
    height: 10rem;
    resize: none;
}

.contact__input:focus::placeholder {
    opacity: 0;
}

.contact__input:focus+.contact__label {
    opacity: 1;
    top: -27px;
}

.contact__message {
    color: var(--dark-color);
    font-size: var(--small-font-size);
    position: absolute;
    bottom: -1.8rem;
    left: 0;
}

.contact__button {
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-radius: 0.2rem;
    color: var(--light-color);
    max-width: 320px;
    width: 100%;
}

.contact__button:hover {
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
}

/* scrollup */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--light-color);
    mix-blend-mode: difference;
    border-radius: 0.2rem;
    display: inline-flex;
    padding: 8px;
    font-size: 1.25rem;
    z-index: 10;
    transition: .4s;
}

.scrollup__icon {
    color: var(--light-color);
    mix-blend-mode: difference;
}

.show-scroll {
    bottom: 2rem;
}

/* BreakPoints */
@media screen and (min-width: 576px) {
    /* .project__img {
        width: 90%;
    } */

}

@media screen and (min-width: 992px) {
    .home__data {
        margin-top: -10%;
    }

    .contact__name-email {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__tilt-top,
    .about__tilt-bottom {
        height: 10rem;
    }

    .about__description {
        text-align: center;
        font-size: var(--small-font-size);
    }

    .projects_card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: initial;
        row-gap: 10rem;
        margin-top: 6rem;
    }

    .projects_card {
        width: 90%;
        height: 100%;
    }

    .card__info {
        padding: 1.5rem;
    }

    .projects__data {
        padding: 6rem 1.5rem 10rem 1.5rem;
    }

    .about {
        padding: 2rem;
    }

    .about__data {
        padding: 4rem 2rem 2rem 2rem;
    }

}

@media screen and (min-width: 1768px) {
    .projects_card {
        width: 85%;
    }

    .card__info {
        padding: 2rem;
    }

}

/* Scroll home icon */

.home__scroll-span {
    position: absolute;
    right: 0;
    bottom: -3.5rem;
    width: 25px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--light-color);
    border-radius: 50px;
    box-sizing: border-box;
}

.home__scroll-span::before {
    position: absolute;
    width: 6px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5px;
    content: '';
    background-color: var(--light-color);
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}