/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
:root {

    /*========== Colors ==========*/

    --title-color: #000;
    --text-color: #000;
    --body-color: #E3E3E3;
    --container-color: #E3E3E3;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;


/*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

/* Font Responsive */
@media screen and (min-width: 568px) {
    :root {
        --big-font-size: 5rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.9rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1.25rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

@media screen and (min-width: 868px) {
    :root {
        --big-font-size: 6rem;
        --h1-font-size: 3rem;
        --h2-font-size: 2.4rem;
        --h3-font-size: 2rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}

@media screen and (min-width: 1168px) {
    :root {
        --big-font-size: 7rem;
        --h1-font-size: 3.5rem;
        --h2-font-size: 2.75rem;
        --h3-font-size: 2rem;
        --normal-font-size: 1.5rem;
        --small-font-size: 1.25rem;
        --smaller-font-size: .85rem;
    }
}

@media screen and (min-width: 1300px) {
    :root {
        --big-font-size: 8rem;
        --h1-font-size: 4rem;
        --h2-font-size: 3.25rem;
        --h3-font-size: 2.75rem;
        --normal-font-size: 2rem;
        --small-font-size: 1.5rem;
        --smaller-font-size: 1rem;
    }
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
    /*For animation*/
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    height: 100vh;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.ml-1 {
    margin-left: .5rem;
}

.p-left {
    padding-left: .3em;
}

.icon {
    font-size: var(--normal-font-size);
    color: #000;
    transition: .3s;
    cursor: pointer;
}

.animation__icon:hover {
    color: #000;
    transform: translateY(-.5rem);
}


/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: .5rem;
}


/*=============== HOME ===============*/

.home {
    background: #fff;/*linear-gradient(180deg, #22505d 0%, #be838b 100%); */
    /* background-image: url(../img/bg-2.jpeg); */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.home__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__big-fs {
    line-height: 1.25em;
    font-size: var(--big-font-size);
    text-transform: uppercase;
}

.title-icon {
    font-size: var(--h3-font-size);
    color: #000;
}

.home_title__icons {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.home__description {
    text-align: right;
    margin-top: 3vh;
}

.home__description-icon-wraper {
    display: flex;
    align-items: center;
    justify-content: end;
}

.icon__about:hover {
    color: #000;
}


/*=============== WINDOW ===============*/

.window__bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    background-color: #21272FFF;
    border: solid 0.1rem #6e6e6e4d;
    box-shadow: 0 1rem 3rem #0000004d;
    color: #fff;
    border-radius: 0.8rem;
    overflow: hidden;
    z-index: 6;
}

.window__header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #2D343CFF;
}

.window__button-wraper {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.window__title {
    margin-right: auto;
    margin-left: auto;
}

.window__button {
    height:  1rem;
    width: 1rem;
    margin-right: 0.6rem;
    background-color: #cacaca;
    border-radius: 50%;
    cursor: pointer;
}

.window__button-close {background-color: #fc5653;}
.window__button-expand {background-color: #33c748;}
.window__button-minimize {background-color: #fdbc40;}


.window__body {
    padding: 3rem 3rem;
}

.window__description {
    font-size: var(--small-font-size);
}


/*=============== projects ===============*/

.projects {
    background: #fff

}

.plantex_img {
    width: 400px;
    justify-self: center;
}

/* BreakPoints */

@media screen and (min-width: 868px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    
    .window {
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 1168px) {
   
}

@media screen and (min-width: 1600px) {
    
}

/* Scroll */

.scroll__span {
    position: fixed;
    bottom: 2vh;
    width: 25px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

.scroll__span::before {
    position: absolute;
    width: 6px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5px;
    content: '';
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}